body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

section {
    background-color: rgb(253, 251, 251);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 600px) {
}